PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('BIshRzY4KDsGdK9toDFfzJxW16RS2JgLGGc48DkQ',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36','YTo0OntzOjY6Il90b2tlbiI7czo0MDoibVJHNmVxQ3JyZDREN3RlQXhzR2V4aWJ6dWZteXp6TE02V2pEYXpZNSI7czozOiJ1cmwiO2E6MTp7czo4OiJpbnRlbmRlZCI7czozNDoiaHR0cHM6Ly9kb2JpcHVsc2V2My50ZXN0L2Rhc2hib2FyZCI7fXM6OToiX3ByZXZpb3VzIjthOjE6e3M6MzoidXJsIjtzOjMwOiJodHRwczovL2RvYmlwdWxzZXYzLnRlc3QvbG9naW4iO31zOjY6Il9mbGFzaCI7YToyOntzOjM6Im9sZCI7YTowOnt9czozOiJuZXciO2E6MDp7fX19',1748766537);
INSERT INTO sessions VALUES('rfnqxvOSFkYkS5j6zUSHiibdMzZIbn4WSoTZGXva',6,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36','YTo0OntzOjY6Il90b2tlbiI7czo0MDoiMkx6aE1HZUtmV0kwTllzUGN2VTJpSXAzeEdoNmJLVGdZMmxibnBjNyI7czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6NDI6Imh0dHBzOi8vZG9iaXB1bHNldjMudGVzdC9yZWd1bGFyLWRhc2hib2FyZCI7fXM6NTA6ImxvZ2luX3dlYl81OWJhMzZhZGRjMmIyZjk0MDE1ODBmMDE0YzdmNThlYTRlMzA5ODlkIjtpOjY7fQ==',1748771510);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "bulk_orders" ("id" integer primary key autoincrement not null, "cloth_type" varchar not null, "load_kg" numeric not null, "load_arrival_date" date not null, "load_arrival_time" time not null, "pickup_date" date not null, "pickup_time" time not null, "status" varchar not null default ('pending'), "created_at" datetime, "updated_at" datetime, "user_id" integer not null, "price" numeric not null default '0', foreign key("user_id") references users("id") on delete cascade on update no action, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO bulk_orders VALUES(1,'cotton',2,'2025-05-14','18:42','2025-05-19','21:41','paid','2025-05-13 19:41:10','2025-06-01 06:47:49',5,10);
INSERT INTO bulk_orders VALUES(5,'fabric',5,'2025-06-04','08:35','2025-06-08','12:35','waiting pickup','2025-06-01 05:35:30','2025-06-01 05:37:02',8,21);
INSERT INTO bulk_orders VALUES(6,'fabric',2,'2025-06-02','08:39','2025-06-04','20:39','waiting pickup','2025-06-01 05:39:46','2025-06-01 05:40:48',8,25);
CREATE TABLE IF NOT EXISTS "loyalty_points" ("id" integer primary key autoincrement not null, "user_id" integer not null, "points" integer not null default '0', "expiry_date" date, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO loyalty_points VALUES(1,1,1185,'2025-11-29 18:54:14','2025-05-06 02:21:15','2025-05-29 18:54:14');
INSERT INTO loyalty_points VALUES(2,2,400,'2025-11-13 06:56:45','2025-05-06 03:06:24','2025-05-13 06:56:45');
INSERT INTO loyalty_points VALUES(3,4,195,'2025-11-13 16:07:10','2025-05-13 07:00:22','2025-05-13 16:40:50');
CREATE TABLE IF NOT EXISTS "redemption_rewards" ("id" integer primary key autoincrement not null, "title" varchar not null, "icon" varchar not null default '≡ƒÄü', "points_required" integer not null, "type" varchar check ("type" in ('percent', 'fixed', 'product')) not null, "reward_value" varchar not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO redemption_rewards VALUES(1,'10% Discount (Cap RM10)','≡ƒÆ│',15,'percent','10','2025-05-13 07:08:01','2025-05-13 07:08:01');
INSERT INTO redemption_rewards VALUES(2,'15% Discount (Cap RM15)','≡ƒÆ│',30,'percent','15','2025-05-13 07:08:01','2025-05-13 07:08:01');
INSERT INTO redemption_rewards VALUES(3,'1 Free Wash (RM5)','≡ƒº║',60,'product','FreeWash','2025-05-13 07:08:01','2025-05-13 07:08:01');
CREATE TABLE IF NOT EXISTS "coupons" ("id" integer primary key autoincrement not null, "user_id" integer not null, "code" varchar not null, "type" varchar check ("type" in ('percent', 'fixed', 'product')) not null, "value" varchar not null, "used" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO coupons VALUES(1,4,'JDLUTQPH','percent','10',1,'2025-05-13 07:14:23','2025-05-13 07:16:08');
INSERT INTO coupons VALUES(2,4,'LWRFF4EB','percent','15',1,'2025-05-13 14:32:14','2025-05-13 14:33:13');
INSERT INTO coupons VALUES(3,4,'I6SNR7VA','product','FreeDry',0,'2025-05-13 16:40:50','2025-05-13 16:40:50');
CREATE TABLE IF NOT EXISTS "machines" ("id" integer primary key autoincrement not null, "type" varchar not null, "location" varchar, "status" varchar check ("status" in ('available', 'in_use')) not null default 'available', "created_at" datetime, "updated_at" datetime);
INSERT INTO machines VALUES(1,'washer','Level 1 - A','available','2025-05-14 13:03:26','2025-06-01 11:01:02');
INSERT INTO machines VALUES(2,'washer','Level 1 - B','available','2025-05-14 13:03:26','2025-06-01 10:41:28');
INSERT INTO machines VALUES(3,'washer','Level 1 - C','available','2025-05-14 13:03:26','2025-06-01 17:48:04');
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime, "account_type" varchar check ("account_type" in ('regular', 'bulk','admin')) not null default 'regular', "avatar" varchar, phone TEXT);
INSERT INTO users VALUES(1,'Amir Safwan','amir@regular.com',NULL,'$2y$12$SIhH8YcBJQPqUsn4Wvke.u.bfO9BbdOIWr66nOifOSIgCibwGYT2G',NULL,'2025-05-06 00:15:44','2025-05-13 18:41:34','regular','avatars/LfMoDjpZyOMZk79DRU8GQRc2XJl8sKcD5GORVHFO.jpg',NULL);
INSERT INTO users VALUES(2,'mir','amir@regular2.com',NULL,'$2y$12$W4WKkeYxu.UIJ76oQgMxi.9tPQ0DbI9X0ZmPGCiYnmfmWazgBj4KS',NULL,'2025-05-06 02:50:54','2025-05-06 02:50:54','admin',NULL,NULL);
INSERT INTO users VALUES(3,'Safwan','safwanmarca@gmail.com',NULL,'$2y$12$oYbVRgIc7HLWFbNZcKBbYOgBj0PH2j4yViDsX41wtzais5bZBZdhe',NULL,'2025-05-06 12:54:28','2025-05-06 12:54:28','regular',NULL,NULL);
CREATE TABLE IF NOT EXISTS "promotions" ("id" integer primary key autoincrement not null, "title" varchar not null, "description" text, "type" varchar check ("type" in ('fixed', 'percent')) not null, "value" numeric not null, "start_date" date not null, "end_date" date not null, "auto_apply" tinyint(1) not null default '0', "code" varchar, "created_at" datetime, "updated_at" datetime, "promo_image" varchar);
INSERT INTO promotions VALUES(1,'10% For 50PTS!','TESTING 1','percent',10,'2025-05-15 00:00:00','2025-05-16 00:00:00',0,NULL,'2025-05-15 13:26:29','2025-05-15 13:26:29',NULL);
INSERT INTO promotions VALUES(6,'Earn 10% OFF for your haji trip','celebrate haji with 10% off','percent',0.1000000000000000055,'2025-05-31 00:00:00','2025-06-09 00:00:00',0,'HAJI2025','2025-05-30 21:00:16','2025-05-31 05:22:48','promotions/1748640168.png');
INSERT INTO promotions VALUES(8,'TEST','222','fixed',2,'2025-05-31 00:00:00','2025-06-04 00:00:00',0,NULL,'2025-05-30 21:01:49','2025-05-30 21:01:49',NULL);
CREATE TABLE IF NOT EXISTS "notifications" ("id" varchar not null, "type" varchar not null, "notifiable_type" varchar not null, "notifiable_id" integer not null, "data" text not null, "read_at" datetime, "created_at" datetime, "updated_at" datetime, primary key ("id"));
INSERT INTO notifications VALUES('adce0ee1-1feb-4964-82fc-5e5228ea0c01','App\Notifications\OrderStatusUpdated','App\Models\User',1,'{"title":"Order Status Updated","body":"Order #41 is now **Approved**.","url":"\/orders\/41","order_id":41}',NULL,'2025-05-15 17:16:24','2025-05-15 17:16:24');
INSERT INTO notifications VALUES('6e3ec3a1-3720-4d5c-9119-e1bb5f42e632','App\Notifications\LoyaltyPointsUpdated','App\Models\User',1,'{"title":"Loyalty Points Updated","body":"You earned 50 new loyalty points!","url":"\/loyalty"}',NULL,'2025-05-15 17:16:26','2025-05-15 17:16:26');
INSERT INTO notifications VALUES('51a6e3cb-4104-4964-b2ea-3b945f1657fd','App\Notifications\OrderStatusUpdated','App\Models\User',1,'{"title":"Order Status Updated","body":"Order #42 is now **Approved**.","url":"\/orders\/42","order_id":42}',NULL,'2025-05-15 17:16:27','2025-05-15 17:16:27');
CREATE TABLE IF NOT EXISTS "orders" ("id" integer primary key autoincrement not null, "user_id" integer, "order_number" varchar not null, "total_amount" numeric not null, "status" varchar not null default ('pending'), "created_at" datetime, "updated_at" datetime, "coupon_code" varchar, "discount_applied" numeric not null default ('0'), "final_price" numeric, "required_time" integer not null default ('30'), "machine_id" integer, "end_time" datetime, "guest_email" varchar, foreign key("machine_id") references machines("id") on delete set null on update no action, foreign key("user_id") references users("id") on delete cascade on update no action);
INSERT INTO orders VALUES(2,1,'ORD-2WKJE8',5,'approved','2025-05-06 02:20:55','2025-05-06 02:21:15',NULL,0,NULL,30,NULL,NULL,NULL);
INSERT INTO orders VALUES(3,1,'ORD-KIUDUI',5,'approved','2025-05-06 02:24:55','2025-05-06 02:25:15',NULL,0,NULL,30,NULL,NULL,NULL);
INSERT INTO orders VALUES(4,1,'ORD-DZGGNG',5,'approved','2025-05-06 02:29:37','2025-05-06 02:29:52',NULL,0,NULL,30,NULL,NULL,NULL);
INSERT INTO sqlite_sequence VALUES('migrations',30);
INSERT INTO sqlite_sequence VALUES('bulk_orders',9);
INSERT INTO sqlite_sequence VALUES('loyalty_points',4);
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE UNIQUE INDEX "coupons_code_unique" on "coupons" ("code");
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "notifications_notifiable_type_notifiable_id_index" on "notifications" ("notifiable_type", "notifiable_id");
COMMIT;
